
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Logs
*.log

# Uploads (Local storage)
uploads/
data/

# Scripts Assets (Generated test data)
scripts/assets/
